@import "../../style/style.scss";

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        h2 {
            font-size: 24px;
        }
        .close {
            font-size: 35px;
            transition: all 1s ease;
            cursor: pointer;
            &:hover {
                color: $base-color;
                border-radius: 50%;
                transform: rotate(360deg);
            }
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0.8;
        .case {
            width: 120px;
            height: 120px;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 22px;
            margin-bottom: 10px;
        }
        p {
            text-align: center;
            opacity: 0.6;
            margin-bottom: 40px;
        }
    }

    .items {
        flex: 1;
        overflow: auto;
        margin-bottom: 40px;
    }

    .item {
        display: flex;
        align-items: center;
        border: 1px solid #f3f3f3;
        border-radius: 20px;
        overflow: hidden;
        padding: 5px 12px;
        margin-bottom: 20px;
        .descr {
            margin-right: 20px;
        }
        img {
            margin-right: 20px;
            width: 70px;
            height: 70px;
        }
        p {
            margin: 5px 0;
        }
        .remove {
            opacity: 0.5;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .footer {
        margin-bottom: 20px;
        li {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 20px;
        }
        div {
            flex: 1;
            height: 1px;
            border-bottom: 1px dashed #dfdfdf;
            position: relative;
            top: -4px;
            margin: 0 7px;
        }
    }
}
.submitBtn {
    position: relative;
    width: 100%;
    height: 55px;
    background: $base-color;
    border-radius: 18px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
        background: lighten($color: $base-color, $amount: 5%);
    }

    &:active {
        background: darken($color: $base-color, $amount: 5%);
    }

    img {
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform 0.15s ease-in-out;
    }

    &:hover {
        img {
            transform: translateX(5px);
        }
    }
}

.backBtn {
    composes: submitBtn;
    img {
        position: absolute;
        left: 30px;
        top: 20px;
        transform: rotate(180deg);
        transition: transform 0.15s ease-in-out;
    }
    &:hover {
        img {
            transform: rotate(180deg) translateX(5px);
        }
    }
}
